body, h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #333;
}

header .logo {
    width: 50px;
}

header h1 {
    font-size: 2rem;
    color: #f5c518;
    margin-left: 9.5em;
}

main {
    padding: 20px;
}

section.liste {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h2 {
    font-size: 1.8rem;
    color: #f5c518;
    border-bottom: 2px solid #f5c518;
    margin-bottom: 15px;
    padding-bottom: 5px;
	text-shadow: 
                0 0 1px #f5c518,
                0 0 3px #f5c518,
                0 0 5px #f5c518;
}

h3 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.box {
    background-color: #1f1f1f;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

li.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

li.box img {
    width: 20%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.image-container img {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 50px);
    height: auto;
    object-fit: cover;
}

a.lien {
    color: #f5c518;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a.lien:hover {
    color: #ffdd57;
}

footer {
    text-align: center;
    background-color: #1f1f1f;
    padding: 20px;
    border-top: 2px solid #333;
}

footer p {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #777;
}

.scroll-to-top {
    color: #f5c518;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s;
}

.scroll-to-top:hover {
    color: #ffdd57;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    .image-container img {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    li.box {
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }
}
